* {
  box-sizing: border-box;
  margin: 0;
}
body {
  max-width: 800px;
  margin: 30px auto;
}
.container {
  color: rgb(80, 81, 79);
  background-color: #c8c4fd;
  border-radius: 8px;
  border: 1px solid #dadde1;
  padding: 16px;
  margin: 30px auto;
  height: 80vh;
}
#temperature {
  font-size: 60px;
}
#description {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: rgb(253, 255, 255);
}

.units {
  position: relative;
  top: -24px;
}
.active {
  color: rgb(67, 10, 78);
  cursor: default;
}
.active:hover {
  text-decoration: none;
}

form {
  display: block;
  margin: 50px auto;
  text-align: center;
}
#input-city {
  border-radius: 6px;
  padding: 5px 10px;
  border: 1px solid #c2c2c3;
}

#search-butt {
  color: rgb(220, 231, 241);
  background-color: #8c7bad;
  border-radius: 6px;
  padding: 5px 10px;
  margin-left: 10px;
  border: 1px solid #c2c2c3;
}

#current-butt {
  color: rgb(220, 231, 241);
  background-color: #565898;
  border-radius: 6px;
  padding: 5px 10px;
  margin-left: 10px;
  border: 1px solid #c2c2c3;
}

h1 {
  display: block;
  margin: 0 auto;
  font-size: 40px;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 20px;
}
.footer small {
  font-size: 12px;
}
#forecast-icon {
  width: 50px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.forecast-day {
  font-size: 18px;
}
.forecast-t-max {
  font-size: 18px;
}
.forecast-t-min {
  font-size: 14px;
  opacity: 0.9;
}
